@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --main-color: #E2C29D;
    --white-color: #fff;
    --black-color: #000;
    --red-color: #da364f;
    --gray-color: #6c6c6c;
    --text-color: #2c2c2c;
    --background-hover-color: #f3f3f3;
    --background-color: #F5F5F5;
    --orange-color: #EE4D2D;
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-size: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    padding: 0;
    margin: 0 80px;
}
.checked,
.fa-star-half{
    color: var(--red-color);
}
.btn {
    font-size: 1.4rem !important;
}
.dropdown-menu {
    font-size: 1.4rem;
}
.pagination{
    float: right;
}

.pagination__btn{
    height: 30px;
    min-width: 40px;
    background-color: transparent;
    color: var(--gray-color);
    border: none;
    font-size: 1.8rem;
    margin: 4px;
    border-radius: 2px;
    font-weight: 500;
}
.pagination__btn--active {
    color: var(--white-color) !important;
    background-color: var(--red-color) !important;
}
.pagination__btn--page:hover {
    color: var(--red-color);
}

a:hover {
    text-decoration: none;
}
.sidebar-admin {
    background-color: #373C4D;
    transition: all ease 0.2s;
}

.btn-sidebar-toggle {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.8rem;
    height: 100%;
    width: 60px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: #373C4D;
}
textarea {
    resize: none;
}
.hide {
	display: none !important;
}
.swal2-popup {
	font-size: 1.4rem !important;
}
#logo-link {
	cursor: pointer;
}
.bs-searchbox input {
	font-size: 14px !important;
}