@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --main-color: #E2C29D;
    --white-color: #fff;
    --black-color: #000;
    --red-color: #da364f;
    --gray-color: #6c6c6c;
    --text-color: #2c2c2c;
    --background-hover-color: #f3f3f3;
    --background-color: #F5F5F5;
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-size: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    padding: 0;
    margin: 0 80px;
}
.checked,
.fa-star-half{
    color: var(--red-color);
}
.btn {
    font-size: 1.4rem !important;
}
.dropdown-menu {
    font-size: 1.4rem;
}
.pagination{
    float: right;
}

.pagination__btn{
    height: 30px;
    min-width: 40px;
    background-color: transparent;
    color: var(--gray-color);
    border: none;
    font-size: 1.8rem;
    margin: 4px;
    border-radius: 2px;
    font-weight: 500;
}
.pagination__btn--active {
    color: var(--white-color) !important;
    background-color: var(--red-color) !important;
}
.pagination__btn--page:hover {
    color: var(--red-color);
}
