.header {
    background-color: var(--main-color);
    color: var(--white-color);
    padding-top: 5px;
}
.header__navbar {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
}
.header__navbar-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
}
.header__navbar-item-link {
    color: var(--white-color);
    cursor: pointer;
}
.header__navbar-item--icon-link {
    color: var(--white-color);
    cursor: pointer;
}
.header__navbar-item-link--strong {
    font-weight: 400;
}
.header__navbar-item-link:hover {
    color: var(--black-color);
    text-decoration: none;
    opacity: 0.9;
}

.header__navbar-item--icon-link:hover {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-item--separate::after {
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid var(--white-color);
    height: 14px;
    right: -9px;
    top: 55%;
    transform: translateY(-50%);
}
.header__navbar--icon {
    font-size: 1.8rem;
    margin: 2px;
    position: relative;
}
/* header notification */
.header__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity,transform;
    display: none;
}
.header__notify::before{
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 28px;
    top: -32px;
}
.header__navbar-item__has-nofi:hover .header__notify{
    display: block;
}
.header__navbar-item__has-nofi:hover .header__navbar-item-link{
    color: var(--black-color);
    text-decoration: none;
    opacity: 0.9;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform:  scale(0);
    }
    to {
        opacity: 1;
        transform:  scale(1);
    }
}
.header__notify--header {
    height: 40px;
}
.header__notify--header h3 {
    color: #888;
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    margin: 0 0 0 12px;
}
.header__notify-list {
    padding-left: 0;
}
.header__notify--item {
    height: 88px;
    padding: 12px;
    background-color: rgba(226, 194, 157, 0.29);
}
.header__notify--item-link {
    display: flex;
}
.header__notify--item-link:hover {
    text-decoration: none;
}
.header__notify--item--seen {
    background-color: var(--white-color);
}
.header__notify--item:hover {
    background-color: #f3f3f3;
}
.header__notify--img {
    width: 64px;
    height: 64px;
}
.header__notify-info {
    color: var(--text-color);
    margin-left: 10px;
}
.header__notify-info div p {
    margin: 0;
}
.header__notify--name {
    font-size: 1.6rem;
    max-width: 300px;
}
.header__notify--name p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header__notify--desc {
    color: var(--gray-color);
    font-size: 1.4rem;
    max-width: 300px;
}
.header__notify--desc p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.header__notify--footer {
    text-align: center;
}
.header__notify--footer-btn {
    color: var(--gray-color);
    font-size: 1.6rem;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 12px 20px;
    font-weight: 500;
}
.header__notify--footer-btn:hover {
    color: var(--main-color);
    text-decoration: none;
}