html {
    font-size: 100% !important;
}
.btn {
    font-size: 16px !important;
}
.label_avatar {
    line-height: 1.2;
    cursor: pointer;
}
.cart_avatar {
    height: 298px;
}
.avatar_img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.avatar_img_size{
    position: absolute;
    bottom: 5px;
    font-size: 1.4rem;
    left: 50%;
    transform: translateX(-50%);
}
.img-product {
    width: 150px;
    height: 180px;
    object-fit: contain;
}