html {
    font-size: 100% !important;
}
.btn {
    font-size: 16px !important;
}
.chart-area-products {
    height: auto !important;
}
.label-filter {
	cursor: pointer;
}
.group-filter {
	width: 30% ;
	display: none;
	margin-left: 50px;
}
.radio-filter:checked ~ .group-filter {
	display: block;
}