body {
    background-color: var(--background-hover-color);
}

.main-content{
	margin-top: 20px;
}
.menu-bar{
	font-size: 1.8rem;
	padding-top: 18px;
}
.menu-bar__item{
	list-style-type: none;
	padding: 5px 0;
	cursor: pointer;
	display: block;
	width: 100%;
	position: relative;
}
.menu-bar__link{
	color: var(--text-color);
	display: block;
}
.menu-bar__link:hover {
	color: var(--red-color);
}
.menu-bar__icon{
	color: #4979C3;
	margin-right: 5px;
	display: inline-block;
	width: 20px;
}
.menu-bar__icon--orange {
	color: var(--orange-color)
}
.profile {
	background-color: var(--white-color);
	padding: 18px 30px;
}
.profile__header {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 2.4rem;
	display: block;
	padding-bottom: 18px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}
.profile__group{
	align-items: center;
	display: flex;
	justify-content: flex-end;
	font-size: 1.6rem;
	margin-bottom: 12px;
}
.profile__label{
	width: 20%;
	color: var(--gray-color);
}
.profile__control{
	width: 80%;
	margin-bottom: 0;
}
.profile__input {
	width: 80%;
	border: 1px solid #a8a8a8;
	height: 44px;
	padding: 0 10px;
	outline: none;
}
.profile__radio {
	transform: scale(1.5);
}
.profile__radio-label{
	cursor: pointer;
}
.profile__submit {
	border-radius: 2px;
	color: var(--white-color);
	background-color: var(--red-color);
	font-size: 1.6rem;
	border: none;
	padding: 5px 15px;
}
.profile__submit:hover {
	opacity: 0.8;
}
.profile__btn-link {
	margin-left: 10px;
	background-color: transparent;
	border: none;
}
.profile__btn-link:hover {
	text-decoration: underline;
}
.avatar {
	border-left: 1px solid #ccc;
	text-align: center;
}
.avatar__img{
	width: 160px;
	height: 160px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #ccc;
}
.avatar__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.avatar__btn{
	color: var(--text-color);
	background-color: transparent;
	border: 1px solid #868686;
	margin-top: 10%;
	font-size: 1.6rem;
	padding: 8px 16px;
	margin-bottom: 5px;
}
.avatar__btn:hover{
	background-color: var(--background-hover-color);
}
.avatar__info{
	font-size: 1.4rem;
}
.modal__inner{
    background-color: var(--background-hover-color);
    margin-top: 10%;
    padding: 15px;
    z-index: 10;
    width: 600px;
    padding-bottom: 0;
    border-radius: 2px;
}
.modal__header{
    background-color: var(--white-color);
    padding: 15px 20px;
    position: relative;
    border-bottom: 1px solid #eeeeee;
}
.modal__header h3 {
    text-align: center;
    margin: 0;
    font-size: 2rem;
}
.modal__close-btn{
    position: absolute;
    top: -25px;
    right: -25px;
    font-size: 1.6rem;
    width: 25px;
    height: 25px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal__body{
    background-color: var(--white-color);
    margin: 0;
    font-size: 1.5rem;
    padding: 15px 20px;
}
.modal__form {
	width: 80%;
	margin: 0 auto;
}
.modal__form-input {
	width: 100%;
	font-size: 1.4rem;
	padding: 10px 20px;
	border: 1px solid #a2a2a2;
	border-radius: 2px;
	outline: none;
}
.modal__form-label {
	display: block;
	color: #a2a2a2;
}
.modal__footer{
    padding: 15px 0;
    display: flex;
    justify-content: right;
    align-items: center;
}
.modal__footer-btn{
    width: 100px;
    height: 40px;
    font-size: 1.4rem;
    border: none;
    border-radius: 2px;
}

.modal__footer-btn--cancel {
	color: var(--text-color);
	border: 1px solid #a3a3a3;
	background-color: var(--white-color);
}
.modal__footer-btn--cancel:hover {
	background-color: var(--background-hover-color);
}
.modal__footer-btn--submit {
	color: var(--white-color);
    background-color: rgba(255, 66, 78);
	margin-left: 15px;	
}
.modal__footer-btn--submit:hover {
    background-color: rgba(255, 66, 78, 0.8);
}