html {
    font-size: 100% !important;
}
.btn {
    font-size: 16px !important;
}
.label_avatar {
    line-height: 1.2;
    cursor: pointer;
}
.cart_avatar {
    height: 298px;
}
.avatar_img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.avatar_img_size{
    position: absolute;
    bottom: 5px;
    font-size: 1.4rem;
    left: 50%;
    transform: translateX(-50%);
}
.list-img-product {
    display: flex;
    flex-wrap: wrap;
}
.img-product {
    width: 70px;
    height: 80px;
    margin-right: 10px;
    object-fit: contain;
}

.input-mass::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.variation {
	width: 60%;
}
.variation__item {
	margin-bottom: 4px;
}
.variation__header{
	padding: 10px 20px;
	border: 1px solid #ccc;
	background-color: #DDF3FE;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.variation__name {
	height: 100%;
	width: 80%;
}
.variation__control {
	width: 20%;
	text-align: right;
}
.variation__btn {
	border: none;
	background-color: transparent;
	margin: 0 10px;
	padding: 5px 10px;
	font-size: 14px;
	
}
.variation__btn--add {
	color: #007BFF;
}
.variation__btn--delete {
	color: #DC3545;
}
.variation__option-list {
	height: 0;
	overflow: hidden;
}

.variation__option-list--show{
	height: auto !important;
}
.variation__option-item{
	padding: 10px 20px;
	border: 1px solid #ccc;
	background-color: #DDEBC8;
	margin-top: 4px;
	margin-left: 40px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
