html {
    font-size: 100% !important;
}
.btn {
    font-size: 16px !important;
}
.label_avatar {
    line-height: 1.2;
    cursor: pointer;
}
.cart_avatar {
    height: 298px;
}
.avatar_img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.avatar_img_size{
    position: absolute;
    bottom: 5px;
    font-size: 1.4rem;
    left: 50%;
    transform: translateX(-50%);
}
.list-img-product {
    display: flex;
    flex-wrap: wrap;
}
.img-product {
    width: 70px;
    height: 80px;
    margin-right: 10px;
    object-fit: contain;
}

.input-mass::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
